@import 'product';

.current-sprint {
  @extend .product;
  .story {
    .panel-body{
      .tasks-info{
        td a{
          white-space: nowrap;
        }

        td.actions .btn {
          min-width: 10ex;
        }
      }
    }
  }

}

.task-time-modal {
  .entry {
    margin-bottom: 9px;
  }

  .entry-time {
    padding-top: 6px;
    font-weight: bold;
  }

  .entry-done {
    input {
      display: inline;
      width: 60px;
    }
  }

  .entry-remaining {
    input {
      display: inline;
      width: 60px;
    }
  }
}