$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: url('/images/old_moon.png') repeat;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
    .logo a {
        text-decoration: none;

        img {
            height: 1.3em;
            vertical-align: top;
        }
    }
}

/* Custom page footer */
.footer {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: center;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


.content .white-stripe {
    background-color: #fff;

    &.jumbotron {
        margin-bottom: 0px;
    }
}

form .ng-invalid {
    // @extend .has-error; .. would have to be on parent
    border-color: #b94a48 !important;
}

.projectsList .chooseButton {
    margin: 2px;
}

.btn[btn-checkbox]:focus {
    // otherwise it looks like its still active
    background-color: #f7f7f7;
}

.auto-error-message {
    margin-top: 10px;
    margin-bottom: 10px;
}

.labels-group .label {
    margin-left: 1ex;
}

.panel-primary > .panel-heading a {
    color: #fff;
}
.space-left{
    margin-left: 5px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@import 'users';
@import 'projects';
@import 'daily';
@import 'product';
@import 'growl';
@import 'home';
@import 'currentsprint';
