<div class="current-sprint" ng-if="currentSprint">
  <div class="white-stripe">
    <div class="container">
      <h2>User stories for Sprint {{currentSprint.number}} ({{ currentSprint.start | date:'dd.MM.yyyy' }} - {{ currentSprint.end | date:'dd.MM.yyyy' }})</h2>

      <br>

    </div>
  </div>

  <br>

  <div>
    <div class="container">
      <div ng-repeat="story in currentSprint.stories">
        <div class="panel panel-default story">
          <div class="panel-heading">
            <h3 class="panel-title">{{ story.title }}</h3>
            <p>
              Priority: <strong>{{ storyPriorities[story.priority].label }}</strong> |
              Business value: <strong>{{ story.businessValue }}</strong> |
              Estimate: {{ story.estimate || "/" }}
            </p>
          </div>
          <div class="panel-body">
            <div class="story-info">
              <p class="description">{{ story.description }}</p>
              <ul class="tests">
                <li ng-repeat="test in story.tests track by $index"># {{ test }}</li>
              </ul>
              <br>
            </div>

            <div class="tasks-info">
              <table class="table table-hover table-condensed">
                <thead>
                  <tr>
                    <th>Task</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Remaining</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="task in story.tasks">
                    <td>{{task.task}}</td>
                    <td>
                      <span ng-if="task.status !== 'Unassigned'">{{ allUsers[task.userId].username }}</span>
                    </td>
                    <td class="text-{{ statusColor[task.status] }}">{{task.status}}</td>
                    <td>{{task.remaining}} hours</td>
                    <td class="actions">
                      <button ng-if="task.status == 'Unassigned' && isDeveloper()" type="button" class="btn btn-default btn-xs" ng-click="taskTake(task, story)">
                        Take
                      </button>

                      <button ng-if="task.status == 'Assigned' && task.userId == currentUser.id" type="button" class="btn btn-default btn-xs" ng-click="taskTake(task, story)">
                        Accept
                      </button>

                      <button ng-if="task.status == 'Accepted' && task.userId == currentUser.id" type="button" class="btn btn-default btn-xs" ng-click="taskRelease(task, story)">
                        Release
                      </button>

                      <button ng-if="task.status == 'Accepted' && task.userId == currentUser.id" type="button" class="btn btn-default btn-xs">
                        Log time
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td><button ng-if="isDeveloper() || isScrum()" type="button" class="btn btn-default" ng-click="addTask(story.id)">Add a task</button></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
