<div class="project">
  <div class="white-stripe">
    <div class="container">
      <h1>
        Welcome to Scrumble!
      </h1>
      <p ng-if="!currentUser.activeProject">
        You are not a member of any project.
      </p>
      <p ng-if="currentUser.activeProject">
        Change your project:
      </p>

      <div class="row">
        <div class="col-lg-6">
          <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="project in currentUser.projects" ng-class="{ active: isActive(project) }"><a href="" ng-click="chooseProject(project)">{{ project.name }}</a></li>
          </ul>
        </div>
      </div>

      <br>
    </div>
  </div>
</div>
