<div class="panel story" class="panel story" ng-class="storyIsCompleted(story) ? 'panel-success' : 'panel-{{defaultClass || 'default'}}'">
  <div class="panel-heading">
    <button class="btn btn-primary pull-right space-left" type="button" ng-if="canAddToSprint(story)" ng-click="addToSprint(story)">Add to sprint {{ currentSprint.number }}</button>
    <button class="btn btn-danger pull-right" type="button" ng-if="canRemoveFromSprint(story)" ng-click="removeFromSprint(story)">Remove from sprint {{ story.sprint.number }}</button>

    <div class="btn-group pull-right" ng-if="canAcceptReject">
      <button class="btn btn-success" type="button" ng-if="storyIsCompleted(story)" ng-click="acceptStory(story)">Accept</button>
      <button class="btn btn-danger" type="button" ng-click="rejectStory(story)">Reject</button>
    </div>

    <button class="btn btn-default pull-right" type="button" ng-if="canEditStory()" ng-click="editStory(story)">Edit</button>
    <span class="pull-right">&nbsp;</span>
    <button class="btn btn-default pull-right" type="button" ng-if="canPlayPoker(story)" ng-click="playPoker(story)">Planning poker</button>

    <h3 class="panel-title">{{ story.title }}</h3>
    <p>
      Priority: <strong>{{ $root.storyPriorities[story.priority].label }}</strong> |
      Business value: <strong>{{ story.businessValue }}</strong> |
      Estimate: {{ story.points || "/" }} <span ng-if="canEditEstimate(story)"><a href="" ng-click="changeEstimate(story)"><i class="glyphicon glyphicon-pencil"></i></a></span>
      <span ng-if="story.sprint">| Sprint {{ story.sprint.number }}</span>
      | <a href="" ng-click="$root.editStoryNotes(story)">Notes <i class="glyphicon glyphicon-pencil"></i></a>
    </p>
  </div>
  <div class="panel-body">
    <p class="description">{{ story.description }}</p>
    <ul class="tests">
      <li ng-repeat="test in story.tests track by $index"># {{ test }}</li>
    </ul>
    <ul class="notes" ng-if="!story.editingNotes">
      <li ng-repeat="note in story.notes track by $index">-- {{ note }}</li>
    </ul>

    <form class="form-inline" ng-if="story.editingNotes">
      <ul class="notes">
        <li ng-repeat="note in story.editingNotes track by $index">
          --
          <div class="form-group">
            <input type="text" class="form-control input-sm" ng-model="note.note" size="100">
          </div>
        </li>
      </ul>
      <a href="" ng-click="story.editingNotes.push({note: ''});">Add another note</a>
      <br>
      <br>
      <a href="" class="btn btn-default" ng-click="$root.saveStoryNotes(story)">Save</a>
      <a href="" class="btn btn-default" ng-click="$root.cancelStoryNotes(story)">Cancel</a>
    </form>
  </div>
</div>
