<div class="product">
  <div class="white-stripe">
    <div class="container">
      <div class="pull-right" ng-show="canEdit">
        <button class="btn btn-primary pull-right new-story-btn" ng-click="addStory()">Add new story</button>
      </div>

      <h2>Product backlog</h2>

      <br>

      <p ng-hide="stories.length">No stories yet.</p>
      <p ng-show="stories.length > 0 && filterNotDone(stories).length <= 0">All stories are finished.</p>

      <div class="panel panel-default story" ng-repeat="story in filterNotDone(stories)">
        <div class="panel-heading">
          <button class="btn btn-danger pull-right" type="button" ng-if="!story.sprint" ng-click="addStoryToSprint(story.id)">Add to sprint 1</button>
          <button class="btn btn-danger pull-right" type="button" ng-if="story.sprint" ng-click="removeStoryFromSprint(story.id, story.sprint)">Remove from sprint {{story.sprint}}</button>

          <h3 class="panel-title">{{ story.title }}</h3>
          <p>
            Priority: <strong>{{ storyPriorities[story.priority].label }}</strong> |
            Business value: <strong>{{ story.businessValue }}</strong> |
            Estimate: {{ story.estimate || "/" }} <span ng-if="isAdmin() || isScrum(currentUser.projects[currentUser.activeProject].users[currentUser.id].roles)"><a href="" ng-click="changeEstimate(story)"><i class="glyphicon glyphicon-pencil"></i></a></span>
          </p>
        </div>
        <div class="panel-body">
          <p class="description">{{ story.description }}</p>
          <ul class="tests">
            <li ng-repeat="test in story.tests track by $index"># {{ test }}</li>
          </ul>
          <ul class="notes">
            <li ng-repeat="note in story.notes track by $index">-- {{ note }}</li>
          </ul>
        </div>
      </div>

      <br>
    </div>
  </div>
  <br>
  <br>


  <div class="white-stripe">
    <div class="container">
      <h2>Finished stories</h2>
      <br>
    </div>
  </div>
  <br>

  <div>
    <div class="container">
      <p ng-hide="filterDone(stories).length">No finished stories.</p>

      <div class="panel panel-default story" ng-repeat="story in filterDone(stories)">
        <div class="panel-heading">

          <h3 class="panel-title">{{ story.title }}</h3>
          <p>
            Priority: <strong>{{ storyPriorities[story.priority].label }}</strong> |
            Business value: <strong>{{ story.businessValue }}</strong> |
            Estimate: {{ story.estimate || "/" }}
          </p>
        </div>
        <div class="panel-body">
          <p class="description">{{ story.description }}</p>
          <ul class="tests">
            <li ng-repeat="test in story.tests track by $index"># {{ test }}</li>
          </ul>
          <ul class="notes">
            <li ng-repeat="note in story.notes track by $index">-- {{ note }}</li>
          </ul>
        </div>
      </div>

      <br>
    </div>
  </div>
</div>
