<div class="product">
  <div class="white-stripe">
    <div class="container">
      <div class="pull-right" ng-show="canAddStory()">
        <button class="btn btn-primary pull-right new-story-btn" ng-click="addStory()">Add new story</button>
      </div>

      <h2>Product backlog</h2>

      <br>

      <ul class="nav nav-tabs">
        <li ng-class="{active: !showFinished}"><a href="" ng-click="showFinished = false">Unfinished stories</a></li>
        <li ng-class="{active: showFinished}"><a href="" ng-click="showFinished = true">Finished stories</a></li>
      </ul>

      <br>

      <div ng-show="!showFinished">
        <p ng-hide="stories.length">No stories yet.<br><br><br></p>
        <p ng-show="stories.length > 0 && unfinishedStories.length == 0">All stories are finished.<br><br><br></p>

        <div ng-show="unfinishedStories.length">
          <h3>Current sprint ({{ currentSprint.start | date }} - {{ currentSprint.end | date }})</h3>

          <product-story
              ng-repeat="story in unfinishedCurrentStories"
              story="story"
              current-sprint="currentSprint"
              can-add-to-sprint="canAddUnfinishedStoryToSprint"
              add-to-sprint="addStoryToSprint"
              can-remove-from-sprint="canRemoveUnfinishedStoryFromSprint"
              remove-from-sprint="removeStoryFromSprint"
              can-edit-estimate="canEditStoryEstimate"
              change-estimate="changeStoryEstimate"
              can-accept-reject="isProductOwner"
              load="load">
          </product-story>

          <h3>Remaining stories</h3>

          <product-story
              ng-repeat="story in unfinishedRemainingStories"
              story="story"
              current-sprint="currentSprint"
              can-add-to-sprint="canAddUnfinishedStoryToSprint"
              add-to-sprint="addStoryToSprint"
              can-remove-from-sprint="canRemoveUnfinishedStoryFromSprint"
              remove-from-sprint="removeStoryFromSprint"
              can-edit-estimate="canEditStoryEstimate"
              change-estimate="changeStoryEstimate">
          </product-story>
        </div>
      </div>

      <div ng-show="showFinished">
        <p ng-hide="finishedStories.length">No finished stories.<br><br><br></p>

        <product-story
            ng-repeat="story in finishedStories"
            story="story"
            current-sprint="currentSprint"
            can-add-to-sprint="canAddFinishedStoryToSprint"
            add-to-sprint="addStoryToSprint"
            can-remove-from-sprint="canRemoveFinishedStoryFromSprint"
            remove-from-sprint="removeStoryFromSprint"
            can-edit-estimate="canEditStoryEstimate"
            change-estimate="changeStoryEstimate"
            default-class="success">
        </product-story>
      </div>

    </div>
  </div>
</div>
