<div class="project white-stripe">
  <div class="container">
    <h2>{{ project.name }} <small><a href="" ng-click="rename()"><i class="glyphicon glyphicon-pencil"></i></a></small></h2>

    <br>

    <div class="panel panel-default">
      <div class="panel-body">
        <div ng-repeat="user in users">
          <div class="pull-right" ng-hide="user.editing">
            <a href="" ng-click="editUser(user)"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="" ng-click="removeUser(user)"><i class="glyphicon glyphicon-remove"></i></a>
          </div>

          <div class="btn-group pull-right" ng-show="user.editing">
            <button type="button" class="btn btn-default" ng-click="saveUser(user)">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancelEditUser(user)">Cancel</button>
          </div>

          <div class="row">
            <span class="input-group col-sm-3">
              {{ formatUser(user.user) }}
            </span>

            <span class="labels-group col-sm-6" ng-if="!user.editing">
              <span ng-repeat="roleValue in user.roles" class="label label-primary">
                {{ userProjectRoles[roleValue].label }}
              </span>
            </span>

            <span class="btn-group col-sm-6" ng-if="user.editing">
              <button type="button" class="btn btn-default" ng-repeat="role in userProjectRolesOrdered" ng-model="user.roles[role.value]" tabindex="2" btn-checkbox ng-change="rolesToRules(user, role.value)" ng-disabled="!projectRoleAllowed(user, role.value)">
                {{ role.label }}
              </button>
            </span>
          </div>

          <br ng-hide="$last">
        </div>

        <hr ng-show="users.length">

        <form ng-submit="addUser(addUserForm.$invalid)" name="addUserForm" autoerror="autoErrorAddUser">
          <button type="submit" class="btn btn-default pull-right" tabindex="5">Add</button>

          <div class="row">
            <span class="input-group col-sm-3">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" class="form-control" placeholder="Username" ng-model="newUser.user" typeahead="u as u.joinedName for u in allUsers | filter:$viewValue | limitTo:8" typeahead-editable="false" required tabindex="2">
            </span>

            <span class="btn-group col-sm-6">
              <button type="button" class="btn btn-default" ng-repeat="role in userProjectRolesOrdered" ng-model="newUser.roles[role.value]" tabindex="2" btn-checkbox ng-change="rolesToRules(newUser, role.value)" ng-disabled="!projectRoleAllowed(newUser, role.value)">
                {{ role.label }}
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
