<form class="task-time-modal" name="form" ng-submit="save(form.$invalid)">
  <div class="modal-header">
    <h3>Log time for {{ task.task }}</h3>
  </div>
  <div class="modal-body">
    <div class="row entry" ng-repeat="entry in history">
      <div class="col-xs-3 entry-time">
        <p class="form-control-static">{{ entry.time | date }}</p>
      </div>
      <div class="col-xs-4 entry-done">
        <label class="control-label">Work spent:</label>
        <input type="number" min="0" step="0.01" class="form-control" ng-model="entry.done">
      </div>
      <div class="col-xs-4 entry-remaining">
        <label class="control-label">Remaining:</label>
        <input type="number" min="0" step="0.01" class="form-control" ng-model="entry.remaining" on-change="remainingChanged(entry)">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>
