<div class="users">
  <div class="whiteStripe">
    <div class="container">
      <h2>Users</h2>

      <br>

      <p ng-if="currentUser.role != 'Administrator'">You can't manage users.</p>

      <div class="alert alert-danger" ng-if="error">{{ error }}</div>

      <form class="panel panel-default" name="createUserForm" ng-submit="createUser(user, createUserForm.$invalid);" ng-if="currentUser.role == 'Administrator'">
        <div class="panel-heading">
          <button type="submit" class="btn btn-primary pull-right add-user-btn">Add user</button>

          <h3 class="panel-title row">
            <span class="col-sm-3 col-xs-7">
              <input type="text" class="form-control" placeholder="First name" ng-model="user.firstName" required></input>
            </span>
            <span class="col-sm-3 col-xs-7">
              <input type="text" class="form-control" placeholder="Last name" ng-model="user.lastName" required></input>
            </span>
          </h3>
        </div>

        <div class="panel-body">
          <div class="pull-right btn-group">
            <button type="button" class="btn btn-default" ng-repeat="role in userRoles"
              ng-model="user.role" btn-radio="'{{role}}'">
              {{role}}
            </button>
          </div>

          <div class="row">
            <div class="input-group col-sm-3">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" class="form-control" placeholder="Username" ng-model="user.username" required></input>
            </div>
            <div class="col-sm-3">
              <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required></input>
            </div>
            <div class="col-sm-3">
              <input type="password" class="form-control" placeholder="Repeat password" ng-model="user.password2" same-as="{{user.password}}" required></input>
            </div>
          </div>
          <br>

          <div class="row">
            <span class="input-group col-sm-3">
              <span class="input-group-addon">@</span>
              <input type="email" class="form-control" placeholder="Email" ng-model="user.email" required></input>
            </span>
          </div>

        </div>
      </form>
    </div>
  </div>

  <br>

  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4" ng-repeat="user in users">
          <div class="panel" ng-class="{'panel-default': user.role !== 'Administrator', 'panel-primary': user.role === 'Administrator'}">
            <div class="panel-heading">
              <h3 class="panel-title">{{ user.firstName }} {{ user.lastName }}</h3>
            </div>

            <div class="panel-body">
              <span class="label label-primary pull-right">{{ user.role }}</span>

              <i class="glyphicon glyphicon-user"></i> {{ user.username }}
              <br>
              <strong>@</strong> {{ user.email }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
