<div class="users whiteStripe">
  <div class="container">
    <a href="#" class="btn btn-primary pull-right add-user-btn">Add user</a>

    <h2>Users</h2>

    <br>

    <div class="panel panel-default" ng-repeat="user in users">
      <div class="panel-heading">
        <h3 class="panel-title">{{ user.firstName }} {{ user.lastName }}</h3>
      </div>

      <div class="panel-body">
        <span class="label label-primary pull-right">{{ user.role }}</span>

        <strong>Email:</strong> {{ user.email }}
      </div>
    </div>

    <br>
  </div>
</div>
