<div class="users">
  <div class="white-stripe">
    <div class="container">
      <h2>User {{ user.firstName }} {{ user.lastName }}</h2>

      <br>

      <form class="panel panel-info" name="updateUserForm" ng-submit="updateUser(user, updateUserForm.$invalid);" autoerror="autoError">
        <div class="panel-heading">

          <h3 class="panel-title">
            Change profile
          </h3>
        </div>

        <div class="panel-body">

          <div class="row">
            <span class="col-sm-3 col-xs-7">
              <input type="text" class="form-control" placeholder="First name" ng-model="user.firstName" required autofocus tabindex="1">
            </span>
            <span class="col-sm-3 col-xs-7">
              <input type="text" class="form-control" placeholder="Last name" ng-model="user.lastName" required tabindex="1">
            </span>
          </div>
          <br>

          <div class="row">
            <div class="input-group col-sm-3">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" class="form-control" placeholder="Username" ng-model="user.username" required tabindex="2">
            </div>
            <div class="btn-group col-sm-3" ng-if="isAdmin()">
              <button type="button" class="btn btn-default" ng-repeat="(role, roleLabel) in userRoles"
                ng-model="user.role" btn-radio="'{{role}}'" tabindex="3">
                {{ roleLabel }}
              </button>
            </div>
          </div>
          <br>

          <div class="row">
            <span class="input-group col-sm-3">
              <span class="input-group-addon">@</span>
              <input type="email" class="form-control" placeholder="Email" ng-model="user.email" required tabindex="4">
            </span>
          </div>

          <br>

          <button type="submit" class="btn btn-primary" tabindex="5">Save</button>
          &nbsp;

        </div>
      </form>

      <form class="panel panel-default" name="updatePassForm" ng-submit="updatePass(user, updatePassForm.$invalid);" autoerror="autoError">
        <div class="panel-heading">

          <h3 class="panel-title">
            Change password
          </h3>
        </div>

        <div class="panel-body">

          <div class="row">
            <div class="col-sm-3">
              <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required tabindex="2">
            </div>
            <div class="col-sm-3">
              <input type="password" class="form-control" placeholder="Repeat password" ng-model="user.password2" same-as="{{user.password}}" required tabindex="2">
            </div>
          </div>
          <br>

          <button type="submit" class="btn btn-default" tabindex="5">Change</button>
        </div>
      </form>
    </div>
  </div>
</div>
